# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3
db/

# Data
!storage/data/
ml_service/data/
collector/data/*.csv

# Node
node_modules/
.svelte-kit/
build/
.env
.env.local

# Docker
.dockerignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
